* {
    padding: 0;
    margin: 0;
}

li {
    /*list-style-type: none;*/
}
a {
    text-decoration: none !important;
}

body {
    background: #F5F5F5 !important;
}

/**********************header**********************/
#header {
    position: fixed;
    width: 100%;
    height: 60px;
    top: 0;
    background: url("../images/layouts/header_photo.jpg") no-repeat 0 0;
    background-size:100% 100%;
    z-index: 500;
}
#header #left {
    width: 250px;
    height: 60px;
    line-height: 59px;
    text-align: center;
    float: left;
}
#header #left #title{
    display:block;
    color: #6b6774;
    font-weight: 700;
    font-size: 30px;
}
#header i#top_icon {
    color: #8D8B8A;
    line-height: 60px;
    font-size: 30px;
    padding: 0 30px;
}
#header #right {
    margin-right: 10px;
    line-height: 60px;
    float: right;
}
#header #right ul li {
    display: inline-block;
    float: left;
    margin-right: 20px;
}
#header #right ul li a i{
    color: #E25A6E;
}
#header #right ul li span{
    color: #0f0f0f;
}
.dropdown-menu {
    top: 60px !important;
    min-width: 30px !important;
    right: 0 !important;
}
.dropdown-toggle:hover {
    background: none !important;
    border-color: #3697FF !important;
}
.dropdown-toggle {
    color: #FFFFFF !important;
    background: none !important;
    border-color: #3697FF !important;
}

/**********************sidebar**********************/
#sidebar {
    background: url("../images/layouts/sidebar_photo.jpg") no-repeat 0 0;
    background-size:100% 100%;
    position: fixed;
    width: 250px;
    top: 60px;
    bottom: 0;
    overflow-y: auto;
}
.sidebar_menu {
    border-bottom: 1px solid #3E4B5B;
    margin:0 25px 30px 25px;
    padding-bottom: 20px;
}
.treeview {
    display: block;
    margin: 0;
    padding: 0;
    border: 0;
}
.treeview > a {
    display: block;
    overflow: hidden;
    line-height: 40px;
    color: #3E4B5B;
    transition: all 2s;
    position: relative;
    text-decoration: none;
    font-size: 17px;
}
.treeview a i{
    line-height: 40px;
    margin-right: 10px;
}
.angle:before {
    float: right;
    margin-top: 1px;
    display: inline;
    font-size: 16px;
    font-family: FontAwesome;
    height: auto;
    content: "\f105";
    font-weight: 300;
    text-shadow: none;
}
.angle.open:before {
    float: right;
    margin-top: 1px;
    display: inline;
    font-family: FontAwesome;
    height: auto;
    font-size: 16px;
    content: "\f107";
    font-weight: 300;
    text-shadow: none;
}
.treeview > a.active,
.treeview > a:hover {
    color: #C56DFF;
    margin-left: 15px;
}
.treeview_menu {
    display: none;
    list-style: none;
    clear: both;
    padding-top: 5px;
    padding-left: 15px !important;
}
.treeview_menu li {
    background: none;
    margin-bottom: 5px;
    padding: 0;
}
.treeview_menu li a {
    display: block;
    font-size: 16px;
    line-height: 36px;
    padding-left: 20px;
    transition: all 2s;
    color: #3E4B5B !important;
    clear: both;
}
.treeview_menu li a.active,
.treeview_menu li a:hover {
    color: #C56DFF !important;
    margin-left: 15px;
}


/**********************content**********************/
#content {
    /*position: fixed;*/
    width: auto;
    margin-top: 60px;
    margin-left: 250px;
    margin-right: 10px;
    padding: 10px;
    background: #F5F5F5;
}
.line_txt {
    text-align: center;
    margin-bottom: 30px;
}
.line {
    display: inline-block;
    width: 40%;
    border-top: 1px solid #ccc ;
}
.txt {
    color: #686868;
    vertical-align: -20%;
    font-size: 18px;
    margin: 0 40px;
}
.con_top {
    margin-bottom: 30px;
}
.content_top {
    color: #6e77f0;
}
.content_top:hover {
    color: #0000F0;
}
.panel-body > .add{
    margin-bottom: 15px;
}
.required:before {
    font-family: FontAwesome;
    content: '\f069';
    color: #ff0000;
    font-size: 12px;
    margin-right: 5px;
}